<!DOCTYPE html>
{% extends "pgn_translator/base.html" %}
{% load static %}

{% block content %}
<section class="container mx-auto translator__forms">
    <form id="forms" action="{% url 'translated_game' %}" method="post">
        {% csrf_token %}
        <div class="d-md-flex justify-content-center ">
            <div class="target__form">
                {{ source_form}}
                <div class="d-grid d-md-block">
                    <button class="btn shadow-sm mt-4 translate__btn" onclick="sampleGame()">English Game Fragment</button>
                </div> 
            </div>
            <div>
                {{ target_form.as_div}}
            </div>
        </div>
    </form>
</section>

<script src="{% static 'pgn_translator/index.js' %}"></script>
{% endblock content %}