<!DOCTYPE html>
<html lang="en">
{% extends "translator/base.html" %}

<body>
    {% block content %}
    <section class="container mx-auto d-flex justify-content-center translator__forms">
        <form class="source__form " action="{% url 'translated_game' %}" method="post">
            {% csrf_token %}
            {{ source_form }}
            <button class="btn shadow-sm mt-4 translate__btn" type="submit">Translate</button>
            {{ target_form.as_div}}
        </form>
    </section>
    {% endblock content %}
</body>
</html>