<!DOCTYPE html>
<html lang="en">
{% extends "translator/base.html" %}
<body>
    {% block content %}
    <div>
        <h1>PGN TRANSLATOR.</h1>
    </div>

    <form method="POST" action="{% url 'translated_game' %}">
        {% csrf_token %}
        <select name="option">
            <option value="en">English</option>
            <option value="es">Spanish</option>
        </select>
        <textarea name="text" placeholder="Paste Chess PGN" rows="20" cols="75"></textarea>
        <button type="submit">Translate</button>
    </form>

    <form>
        {% csrf_token %}
        <select name="option">
            <option value="en">English</option>
            <option value="es">Spanish</option>
        </select>
        <textarea name="text" rows="20" cols="75">{{ translated_game }}</textarea>
    </form>
        
    {% endblock content %}
</body>
</html>
