body {
    background-color:#F0F6FF;
}

nav {
    background-color: rgb(255, 255, 255);
}

.logo {
    width:140px;
}

.translator__forms {
    margin: 10rem ;
}

.target__form {
    margin-left: 0.6rem;
}