body {
    background-color:#F0F6FF;
}

.translate__btn {
    background-color:#5289B5 ;
    color: #ffffff;
}

nav {
    background-color: rgb(255, 255, 255);
}

.logo {
    width:140px;
}

.translator__forms {
    margin: 10rem ;
}

.target__form {
    margin-left: 1rem;
}
